@use 'variables/global.scss';
@use '../../shared/styles/fonts/fonts.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: var(--bg-color);
  font-family: 'Inter', sans-serif;
  min-height: 100dvh;
  height: 100%;
  padding: var(--padding);

  > * {
    max-width: var(--max-width);
    margin: 0 auto;
  }
}
