.button {
  cursor: pointer;
  color: var(--inverted-primary-color);
  padding: 6px 16px;
  font-size: 16px;
  border: none;
  outline: none;
}

.primary {
  background: var(--primary-color);
  border-radius: 7px;
}
