.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
  min-width: 400px;
  max-width: 670px;
  height: calc(100dvh - var(--header-height) - var(--padding) - 90px);
  overflow-y: scroll;
}

.card::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #c9c7c7;
}

.card::-webkit-scrollbar-thumb {
  background-color: #656565;
  width: 4px;
}
