.wrong-query {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  height: calc(100dvh - var(--header-height) - var(--header-height));
}

.container {
  display: flex;
  gap: 20px;
}
