.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 15;
  bottom: 0;
  width: 300px;
  background-color: var(--primary-color);
  padding: 20px;
  color: var(--inverted-primary-color);
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.hidden {
  opacity: 0;
  transform: translateY(100%);
  pointer-events: none;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
